@font-face {
    font-family: 'fonticon';
    src:    url('@{iconfont-url}fonticon.eot?nn00vv');
    src:    url('@{iconfont-url}fonticon.eot?nn00vv#iefix') format('embedded-opentype'),
        url('@{iconfont-url}fonticon.ttf?nn00vv') format('truetype'),
        url('@{iconfont-url}fonticon.woff?nn00vv') format('woff'),
        url('@{iconfont-url}fonticon.svg?nn00vv#fonticon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fonticon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e915";
}
.icon-camera:before {
    content: "\e90e";
}
.icon-camera2:before {
    content: "\e90f";
}
.icon-keyboard_control:before {
    content: "\e20f";
}
.icon-more_vert:before {
    content: "\e210";
}
.icon-notifications:before {
    content: "\e24a";
}
.icon-notifications_none:before {
    content: "\e24b";
}
.icon-notifications_active:before {
    content: "\e24d";
}
.icon-subject:before {
    content: "\e2e4";
}
.icon-toc:before {
    content: "\e2f0";
}
.icon-view_headline:before {
    content: "\e300";
}
.icon-view_list:before {
    content: "\e301";
}
.icon-view_module:before {
    content: "\e302";
}
.icon-loop:before {
    content: "\e028";
}
.icon-error:before {
    content: "\e000";
}
.icon-error_outline:before {
    content: "\e001";
}
.icon-add:before {
    content: "\e069";
}
.icon-add_box:before {
    content: "\e06a";
}
.icon-add_circle:before {
    content: "\e06b";
}
.icon-add_circle_outline:before {
    content: "\e06c";
}
.icon-clear:before {
    content: "\e070";
}
.icon-remove:before {
    content: "\e07f";
}
.icon-remove_circle:before {
    content: "\e080";
}
.icon-remove_circle_outline:before {
    content: "\e081";
}
.icon-cancel:before {
    content: "\e205";
}
.icon-check_circle:before {
    content: "\e281";
}
.icon-done:before {
    content: "\e28a";
}
.icon-highlight_remove:before {
    content: "\e29c";
}
.icon-search:before {
    content: "\e2ca";
}
.icon-help:before {
    content: "\e604";
}
.icon-info:before {
    content: "\e605";
}
.icon-info-outline:before {
    content: "\e606";
}
.icon-chevron-thin-down:before {
    content: "\e600";
}
.icon-chevron-thin-left:before {
    content: "\e601";
}
.icon-chevron-thin-right:before {
    content: "\e602";
}
.icon-chevron-thin-up:before {
    content: "\e603";
}
.icon-windows:before {
    content: "\e90d";
}
.icon-checkmark:before {
    content: "\e910";
}
.icon-check-alt:before {
    content: "\e911";
}
.icon-x:before {
    content: "\e913";
}
.icon-x-altx-alt:before {
    content: "\e914";
}
.icon-arrow-small-down:before {
    content: "\f0a0";
}
.icon-arrow-small-left:before {
    content: "\f0a1";
}
.icon-arrow-small-right:before {
    content: "\f071";
}
.icon-arrow-small-up:before {
    content: "\f09f";
}
.icon-triangle-down:before {
    content: "\f05b";
}
.icon-triangle-left:before {
    content: "\f044";
}
.icon-triangle-right:before {
    content: "\f05a";
}
.icon-triangle-up:before {
    content: "\f0aa";
}
.icon-loop2:before {
    content: "\e904";
}
.icon-attachment:before {
    content: "\e903";
}
.icon-folder-upload:before {
    content: "\e901";
}
.icon-box-remove:before {
    content: "\e902";
}
.icon-drawer2:before {
    content: "\e900";
}
.icon-browser:before {
    content: "\e607";
}
.icon-calendar:before {
    content: "\e608";
}
.icon-codepen:before {
    content: "\f1cb";
}
.icon-people:before {
    content: "\e905";
}
.icon-phone:before {
    content: "\e906";
}
.icon-uniE912:before {
    content: "\e912";
}
.icon-cloud-upload:before {
    content: "\f0ee";
}
.icon-C00024:before {
    content: "\e907";
}
.icon-A000032:before {
    content: "\e908";
}
.icon-A000052:before {
    content: "\e909";
}
.icon-A000054:before {
    content: "\e90a";
}
.icon-A00005:before {
    content: "\e90b";
}
.icon-A000010:before {
    content: "\e90c";
}

