/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-add-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -148px -130px;
  width: 24px;
  height: 24px;
}
.icon-add_box-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -176px -204px;
  width: 24px;
  height: 24px;
}
.icon-add_circle-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -280px -130px;
  width: 24px;
  height: 24px;
}
.icon-add_circle_outline-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -324px -130px;
  width: 24px;
  height: 24px;
}
.icon-browser-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -352px -248px;
  width: 16px;
  height: 16px;
}
.icon-calendar-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -316px -248px;
  width: 16px;
  height: 16px;
}
.icon-cancel-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -236px -130px;
  width: 24px;
  height: 24px;
}
.icon-card-bg1 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: 0px 0px;
  width: 210px;
  height: 110px;
}
.icon-card-bg2 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -230px 0px;
  width: 210px;
  height: 110px;
}
.icon-check_circle-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -368px -130px;
  width: 24px;
  height: 24px;
}
.icon-chevron-thin-down-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -204px -248px;
  width: 20px;
  height: 20px;
}
.icon-chevron-thin-left-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -164px -248px;
  width: 20px;
  height: 20px;
}
.icon-chevron-thin-right-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -124px -248px;
  width: 20px;
  height: 20px;
}
.icon-chevron-thin-up-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -84px -248px;
  width: 20px;
  height: 20px;
}
.icon-clear-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -132px -204px;
  width: 24px;
  height: 24px;
}
.icon-done-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: 0px -248px;
  width: 24px;
  height: 24px;
}
.icon-ebank-active {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -44px -248px;
  width: 20px;
  height: 20px;
}
.icon-error-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -264px -204px;
  width: 24px;
  height: 24px;
}
.icon-error_outline-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -308px -204px;
  width: 24px;
  height: 24px;
}
.icon-help-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -352px -204px;
  width: 24px;
  height: 24px;
}
.icon-highlight_remove-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -396px -204px;
  width: 24px;
  height: 24px;
}
.icon-info-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -220px -204px;
  width: 24px;
  height: 24px;
}
.icon-info-outline-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -88px -204px;
  width: 24px;
  height: 24px;
}
.icon-password-radio1 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -244px -248px;
  width: 16px;
  height: 16px;
}
.icon-password-radio2 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -280px -248px;
  width: 16px;
  height: 16px;
}
.icon-remove-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -44px -204px;
  width: 24px;
  height: 24px;
}
.icon-remove_circle-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: 0px -204px;
  width: 24px;
  height: 24px;
}
.icon-remove_circle_outline-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -412px -130px;
  width: 24px;
  height: 24px;
}
.icon-search-ie76 {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -192px -130px;
  width: 24px;
  height: 24px;
}
.icon-step_active {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: -74px -130px;
  width: 54px;
  height: 54px;
}
.icon-step_normal {
  background-image: url(../images/sprite/sprite.png?v=20150721);
  background-position: 0px -130px;
  width: 54px;
  height: 54px;
}
