{% macro render(text = '', status='alert-warning', mb='fn-mb-20', link='###', linkText='') %}
    <div class="alert {{ status }} with-close {{ mb }}">
        <i></i>
        <em></em>
        <a href="{{ link }}" class="pull-right link-standard">{{linkText}}</a>
        <p>{{ text }}</p>
    </div>
{% endmacro %}

{% macro verify(name='', link='', mb='fn-mb-10') %}
    <div class="alert alert-warning {{ mb }}">
        <i></i>
        <em></em>
        <div class="alert-body">
            <strong class="warning-FontColor">{{ name }}</strong>,您尚未进行账户验证，<a href="{{ link }}" class="link-standard">请先验证</a>
        </div>
    </div>
{% endmacro %}

{% macro success(text='充值成功', link='充值凭证.html', text2='',  mb='fn-mb-10') %}
<div class="alert alert-success {{ mb }}">
    <i></i>
    <p>{{ text }} {% if text2%}<span class="fn-ml-10 default-FontColor">{{ text2 }}</span>{% endif %}</p>
</div>
{% endmacro %}

{% macro danger(text='提取失败', text2='',  mb='fn-mb-10') %}
<div class="alert alert-danger {{ mb }}">
    <i></i>
    <p>{{ text }} {% if text2%}<span class="fn-ml-10 default-FontColor">{{ text2 }}</span>{% endif %}</p>
</div>
{% endmacro %}

{% macro loading(text='提取失败', text2='',  mb='fn-mb-10') %}
<div class="alert alert-warning {{ mb }}">
    <i></i>
    <em></em>
    <div class="alert-body">
        {{ text }}{{ text2 }}
    </div>
</div>
{% endmacro %}
