{% macro render(mb='fn-mb-20') %}
<div class="ar-wrapper {{ mb }}">
    <div class="sh-btn" id="sh">
        <i class="icon-chevron-thin-down"></i>
    </div>
    <h4>即将可提金额<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单位：元</span>
            <span class="in-right">最近30天内即将可提现金额
            </span>
    </h4>
    <div class="ar-table-wrap" id="atw">
        <table class="ar-table">
            <colgroup>
                <col style="width: 33.3%;" />
                <col style="width: 33.3%;" />
                <col style="width: 33.3%;" />
            </colgroup>
            <tbody>
            <tr class="ar-tr">
                <td>
                    <div class="ar-data-box">
                        <div class="ar-data one">
                            <b>17
                            </b>
                                    <span>DAY
                                    </span>
                        </div>
                        <p title="还有1天可提现">还有1天可提现</p>
                        <h2 title="8,000.00">8,000.00</h2>
                        <p title="2015.08.15">2015.08.15</p>
                    </div>
                </td>
                <td>
                    <div class="ar-data-box">
                        <div class="ar-data two">
                            <b>17
                            </b>
                                    <span>DAY
                                    </span>
                        </div>
                        <p title="还有1天可提现">还有1天可提现</p>
                        <h2 title="8,000.00">8,000.00</h2>
                        <p title="2015.08.15">2015.08.15</p>
                    </div>
                </td>
                <td>
                    <div class="ar-data-box">
                        <div class="ar-data">
                            <b>17
                            </b>
                                    <span>DAY
                                    </span>
                        </div>
                        <p title="还有1天可提现">还有1天可提现</p>
                        <h2 title="8,000.00">8,000.00</h2>
                        <p title="2015.08.15">2015.08.15</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="ar-data-box">
                        <div class="ar-data">
                            <b>17
                            </b>
                                    <span>DAY
                                    </span>
                        </div>
                        <p title="还有1天可提现">还有1天可提现</p>
                        <h2 title="8,000.00">8,000.00</h2>
                        <p title="2015.08.15">2015.08.15</p>
                    </div>
                </td>
                <td>
                    <div class="ar-data-box">
                        <div class="ar-data">
                            <b>17
                            </b>
                                    <span>DAY
                                    </span>
                        </div>
                        <p title="还有1天可提现">还有1天可提现</p>
                        <h2 title="8,000.00">8,000.00</h2>
                        <p title="2015.08.15">2015.08.15</p>
                    </div>
                </td>
                <td>
                    <div class="ar-data-box">
                        <div class="ar-data">
                            <b>17
                            </b>
                                    <span>DAY
                                    </span>
                        </div>
                        <p title="还有1天可提现">还有1天可提现</p>
                        <h2 title="8,000.00">8,000.00</h2>
                        <p title="2015.08.15">2015.08.15</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-wrap text-align-right ar-page-wrap">
            <p>
                共3页，24条记录，每页显示8条
            </p>
            <ul class="pagination">
                <li><a href="###">上一页</a></li>
                <li class="active"><a href="###">1</a></li>
                <li><a href="#page-2" data-page="2">2</a></li>
                <li><a href="#page-3" data-page="3">3</a></li>
                <li><a href="#page-4" data-page="4">4</a></li>
                <li><a href="#page-5" data-page="5">5</a></li>
                <li><a href="#page-6" data-page="6">6</a></li>
                <li><a href="#page-7" data-page="7">7</a></li>
                <li><a href="#page-8" data-page="8">8</a></li>
                <li><span>...</span></li>
                <li><a href="#page-100" data-page="100">100</a></li>
                <li><a href="#page-3" data-page="3">下一页</a></li>
            </ul>
        </div>
    </div>
</div>
{% endmacro %}