{% macro render() %}

    <div class="casherheader-wrap">
        <div class="casherheader">
            <h1>xx宝</h1>
            <h2>收银台</h2>

            <!-- 已登陆 -->
            <div class="ch-right">
                <span class="ch-account-name">你好，戴斯炜</span>
                <a href="01账户总览.html" class="ch-link">账户总览</a>
            </div>

            <!-- 未登陆 -->
            <!--<div class="ch-right unlogin">
                <div>
                    <a href="###" class="ch-link" style="border-left: none">登录</a><a href="###" class="ch-link">帮助中心</a>
                    <h4><span class="viceText-FontColor">客服热线：</span>400-106-6698</h4>
                </div>
            </div>-->

        </div>
    </div>

{% endmacro %}