{# 密码输入框 #}
{% macro password(name='password', id='password', placeholder='8-20个英文字母、数字或符号的组合', value='') %}
    <input name="{{ name }}" type="password" class="form-control" id="{{ id }}" placeholder="{{ placeholder }}" value="{{ value }}">
{% endmacro %}

{# 表单验证提示 #}
{% macro tips(text='') %}
    <div class="form-notice">
        <i></i>
        {{ text }}
    </div>
{% endmacro %}

{# 卡号输入框 #}
{% macro bankcard(placeholder='卡号是16-19位数字') %}
    <input id="bankcard" placeholder="{{ placeholder }}" type="text" class="form-control"/>
{% endmacro %}

{# 手机号码 #}
{% macro mobile(placeholder='请输入手机号码', value='', readonly='') %}
    <input id="mobile" placeholder="{{ placeholder }}" value="{{ value }}" {% if readonly %} readonly {% endif %} type="text" class="form-control"/>
{% endmacro %}

{# 银行列表 #}
{% macro banks(placeholder='请选择银行') %}
<div class="form-control-dropdown with-keyin">
    <span class="form-control-dropdown-btn">
        <i></i>
    </span>
    <input type="text" data-toggle="dropdown" class="form-control" id="bank" placeholder="{{ placeholder }}" value="" aria-expanded="true">
    <ul class="form-control-dropdown-menu">
        <li title="工商银行天河支行">
            工商银行天河支行
        </li>
        <li title="工商银行体育西支行">
            工商银行体育西支行
        </li>
        <li title="农业银行体育西支行">
            农业银行体育西支行
        </li>
        <li title="招商银行体育西支行">
            农业银行体育西支行
        </li>
    </ul>
</div>
{% endmacro %}

{# 验证码 #}
{% macro verify(id='', text='获取验证码', active='') %}
<div class="form-control-verify">
    <input type="text" class="form-control" id="{{ id }}">
    <button type="button" class="btn form-control-verify-btn {{ active }}">{{ text }}</button>
</div>
{% endmacro %}

{# 协议 #}
{% macro agreement(hasTip='') %}
<div class="form-control-wrap">
    <div class="form-control-check">
        <label class="agreement-check">
            我已阅读并同意 <a href="###" class="link-standard">《服务协议》</a>
            <input type="checkbox" name="">
        </label>
    </div>
    {% if hasTip %}
    <div class="form-agreement-tip">
        钱途测试是钱途测试携手招商银行共同打造的一款互联网支付及增值的金融服务产品，由钱途互联负责运营。
    </div>
    {% endif %}
</div>
{% endmacro %}

{# 城市 #}
{% macro city(province='请选择省份', city='请选择城市') %}
<div class="form-control-dropdown form-inline drop-select-province with-keyin">
    <span class="form-control-dropdown-btn">
        <i></i>
    </span>
    <div class="form-control-dropdown-value" title="{{ province }}">{{ province }}</div>
    <ul class="form-control-dropdown-menu">
        <li title="北京">
            北京
        </li>
        <li title="上海">
            上海
        </li>
        <li title="广东">
            广东
        </li>
        <li title="浙江">
            浙江
        </li>
    </ul>
</div>
<div class="form-control-dropdown form-inline drop-select-city with-keyin">
    <span class="form-control-dropdown-btn">
        <i></i>
    </span>
    <div class="form-control-dropdown-value" title="{{ city }}">{{ city }}</div>
    <ul class="form-control-dropdown-menu">
        <li title="北京">
            北京
        </li>
        <li title="上海">
            上海
        </li>
        <li title="广州">
            广州
        </li>
        <li title="杭州">
            杭州
        </li>
    </ul>
</div>
{% endmacro %}

{# 单个按钮 #}
{% macro defaultBtn(text='下一步', type='submit', id='') %}
<div class="form-control-wrap text-align-left plural-btns margin-top-20px">
    <button type="{{ type }}" class="btn primary" {% if id %}id="{{ id }}"{% endif %}>{{ text }}</button>
</div>
{% endmacro %}

{# 两个按钮 #}
{% macro doubleBtn(text='下一步', type='submit', id='', text2='返回', link='javascript:history.go(-1)') %}
<div class="form-control-wrap text-align-left plural-btns margin-top-20px">
    <button type="{{ type }}" class="btn primary" {% if id %}id="{{ id }}"{% endif %}>{{ text }}</button>
    <a href="{{ link }}" class="btn links">{{text2}}</a>
</div>
{% endmacro %}