{% marco field(setting) %}
<div class="modal-background fade {{ setting.style }}" id="{{ setting.id }}" role="dialog">
    <div class="modal-layer">
        <div class="modal-position">
            <div class="modal-wrap">
                <div class="modal-head">
                    {{ setting.title }}
                    <button class="modal-close" title="关闭">
                        <i></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        {{ setting.content }}
                    </div>
                    {% if setting.buttons %}
                    <div class="text-align-center {{ setting.buttons.style }}">
                        <div class="btn-with-viceLink text-align-center plural-btns">
                            {% for btn in setting.buttons.items %}
                            <button type="button" class="btn {{ btn.style }}" {% if btn.id %}id="{{btn.id}}"{%%}>{{btn.text}}</button>
                            {% endfor %}
                        </div>
                    </div>
                    {% %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmarco %}