{% macro render(verify=0) %}
    <div class="bankcard-list-wrap">
        <ul class="bankcard-list">
            {% if verify == 1 %}
            <li class="work">
                <div class="bank-box">
                    <div class="bank-icon icon-icbc"></div>
                    工商银行
                </div>
                <h3>
                    **********6877
                </h3>
                        <span class="work-tag">
                            已绑定
                        </span>
                <div class="notwork-tag">
                    审核不通过
                    <a href="###" class="bank-card-btn">
                        重新绑定
                    </a>
                </div>
                <div class="waiting-tag">
                    审核中
                </div>
            </li>
            <li class="notwork">
                <div class="bank-box">
                    <div class="bank-icon icon-icbc"></div>
                    工商银行
                </div>
                <h3>
                    **********6877
                </h3>
                        <span class="work-tag">
                            已绑定
                        </span>
                <div class="notwork-tag">
                    审核不通过
                    <a href="###" class="bank-card-btn">
                        重新绑定
                    </a>
                </div>
                <div class="waiting-tag">
                    审核中
                </div>
            </li>
            <li class="waiting">
                <div class="bank-box">
                    <div class="bank-icon icon-icbc"></div>
                    工商银行
                </div>
                <h3>
                    **********6877
                </h3>
                        <span class="work-tag">
                            已绑定
                        </span>
                <div class="notwork-tag">
                    审核不通过
                    <a href="###" class="bank-card-btn">
                        重新绑定
                    </a>
                </div>
                <div class="waiting-tag">
                    审核中
                </div>
            </li>
            {% endif %}
            <li class="add-card">
                <a href="06账户管理个人_添加银行卡.html" class="link-standard">
                    +&nbsp;添加银行账户
                </a>
            </li>
        </ul>
    </div>
{% endmacro %}