{% macro current(cur='') %}
    <div class="main-nav-wrap fn-mb-10">
        <ul class="main-nav col-span-6">
            <li {% if cur == 'nav1' %}class="current"{% endif %}><a href="01账户总览.html">账户总览</a></li>
            <li {% if cur == 'nav2' %}class="current"{% endif %}><a href="02交易明细.html">交易明细</a></li>
            <li {% if cur == 'nav3' %}class="current"{% endif %}><a href="03提现明细.html">提现明细</a></li>
            <li {% if cur == 'nav4' %}class="current"{% endif %}><a href="04收益管理.html">收益管理</a></li>
            <li {% if cur == 'nav5' %}class="current"{% endif %}><a href="05账户管理企业-未验证.html">账户管理</a></li>
            <li {% if cur == 'nav6' %}class="current"{% endif %}><a href="服务台.html">服务台</a></li>
        </ul>
    </div>
{% endmacro %}