// @import "_normalize";       //ÏîÄ¿ÒýÓÃÑùÊ½³õÊ¼»¯
@import "_config";          //ÏîÄ¿ÑùÊ½Éè¶¨Ïî
@import "_mix";             //ÏîÄ¿ÑùÊ½¹¤¾ß
@import "_font";            //ÏîÄ¿×ÖÌå
@import "_fonticon";        //ÏîÄ¿×ÖÌåÍ¼±ê
@import "_sprite";          //ÏîÄ¿Ñ©±ÌÍ¼
// @import "_animate.less";    //ÏîÄ¿ÒýÓÃCSS3¶¯»­¿â
// @import "_animation.less";    //½»»¥CSS3¶¯»­

/*
--- share ---
*/

h1,h2,h3,h4,h5,h6,p {
    font-weight: 500;
    margin: 0;
}

/*
--- UI ---
*/

.uiShow-body {
    *width: auto;
}

//°´Å¥Àà
.btn {
    *line-height: @base-BtnHeight - 8px;

    &.primary {
        *border-top: 1px solid @primary-BtnColor;
        *border-left: 1px solid @primary-BtnColor;
        *border-right: 1px solid @primary-BtnColor;
    }

    &.secondary {
        *border-top: 1px solid @secondary-BtnColor;
        *border-left: 1px solid @secondary-BtnColor;
        *border-right: 1px solid @secondary-BtnColor;
    }

    &.thirdly {
        *border-top: 1px solid @thirdly-BtnColor;
        *border-left: 1px solid @thirdly-BtnColor;
        *border-right: 1px solid @thirdly-BtnColor;

        &:hover,
        &:active,
        &.current {
            *border-color: @thirdly-BtnColor * 0.8;        
        }
    }

    &.disabled {
        *border-top: 1px solid @disabled-BtnColor;
        *border-left: 1px solid @disabled-BtnColor;
        *border-right: 1px solid @disabled-BtnColor;
    }
}

.small-btn {
    *line-height: @smallsize-BtnHeight - 2px;
}

a.btn {
    *height: @base-BtnHeight - 3px;
    *line-height: @base-BtnHeight - 3px;

    &.small-btn {
        *height: @smallsize-BtnHeight - 2px;
        *line-height: @smallsize-BtnHeight + 2px;
    }
}

//±íµ¥Àà
.form-frame {

    .form-layer1 {
        *width: 340px;
    }
}

.form-group {

    .form-control-wrap {
        *float: left;
    }

    &.has-correct,
    &.has-error {

        .form-control {
            *padding: 0 14px;
            *height: @form-control-height - 4px;
            *line-height: @form-control-height - 4px;

            &.smallsize {
                *width: 147px;
            }
        }

        .form-control-dropdown-value,
        .form-control-modal-value,
        .form-control-date-value {
            *width: 239px;
            *height: @form-control-height - 4px;
            *line-height: @form-control-height - 4px;
        }

        .form-control-dropdown,
        .form-control-modal,
        .form-control-date {

            &.smallsize { // @form-control-height ¼õ10ÏñËØ

                .form-control-dropdown-value,
                .form-control-modal-value,
                .form-control-date-value {
                    *line-height: @form-control-height - 10px - 3px;
                    *width: 128px;
                }
            }

            &.active {

                .form-control {
                    *color: @formValue-FontColor;
                }
            }
        }
    }

    &.has-correct {

        .form-notice {

            > i {
                .icon-check_circle-ie76();

                &:before {
                    *content: "";
                }
            }
        }
    }

    &.has-error {

        .form-notice {

            > i {
                .icon-cancel-ie76();

                &:before {
                    *content: "";
                }
            }
        }
    }

    &.has-info {

        .form-notice {

            > i {
                .icon-info-ie76();

                &:before {
                    *content: "";
                }
            }
        }
    }
}

.form-notice {
    *position: static;
    *padding: 11px 0 0 0;

    > i {
        *vertical-align: middle;
        *position: static;
        *margin-right: 8px;
    }
}

input.form-control {
    *margin-top: -1px;
}

.form-control {
    *width: 278px;
    *padding: 0 15px;
    *height: ( @form-control-height - 3px );
    *line-height: ( @form-control-height - 3px );

    &.smallsize {
        *width: 157px;
        *padding: 0 10px;
        *height: ( @form-control-height - 10px ) - 3px;
        *line-height: ( @form-control-height - 10px ) - 3px;
    }
}

.form-control-wrap,
.form-control-dropdown,
.form-control-modal,
.form-control-date {

    &.smallsize {

        > label {
            *line-height: @form-control-height - 10px;
        }
    }
}

.form-control-dropdown,
.form-control-modal,
.form-control-date {
    *zoom: 1;
    *display: inline;

    &.smallsize { // @form-control-height ¼õ10ÏñËØ
        .form-control,
        .form-control-dropdown-value,
        .form-control-modal-value,
        .form-control-date-value {
            *height: ( @form-control-height - 10px ) - 3px;
            *width: 130px;
        }

        .form-control {
            *padding: 0 ( ( @form-control-height - 10px ) - 3px ) + 10px 0 10px;
            *line-height: ( @form-control-height - 10px ) - 3px;
        }

        .form-control-dropdown-menu {
            *width: 175px;
        }

        &.active {

            .form-control {
                *width: 147px;
            }

            .form-control-dropdown-value,
            .form-control-modal-value,
            .form-control-date-value {
                *width: 128px;
            }

            .form-control,
            .form-control-dropdown-value,
            .form-control-date-value {
                *height: ( @form-control-height - 10px ) - 4px;
                *line-height: ( @form-control-height - 10px ) - 4px;
            }
        }
    }

    &.active {

        .form-control-dropdown-value,
        .form-control-modal-value,
        .form-control-date-value {
            *width: 239px;
        }

        .form-control,
        .form-control-dropdown-value,
        .form-control-date-value {
            *height: ( @form-control-height - 4px );
            *line-height: ( @form-control-height - 4px );
        }

        .form-control {
            *padding: 0 14px;
        }
    }

    &.with-keyin {

        .form-control {
            *padding: 0 ( @form-control-height - 3px ) + 15px 0 15px;
            *width: 278px - ( @form-control-height - 3px );
        }

        .form-control-dropdown-btn {
            *top: 1px;
        }

        &.active {

            .form-control {
                *padding: 0 ( @form-control-height - 3px ) + 14px 0 14px;
            }

            input.form-control {
                *margin-top: -2px;
            }

            .form-control-dropdown-btn {
                *top: 1px;
            }

            .form-control-dropdown-menu {
                *top: 40px;
            }
        }
    }
}

.form-control-dropdown-value,
.form-control-modal-value,
.form-control-date-value {
    *height: @form-control-height - 3px;
    *width: 241px;
}

.form-control-dropdown-menu {
    *width: 306px;
}

.form-control-dropdown-btn,
.form-control-modal-btn,
.form-control-date-btn {

    > i {        
        *position: absolute;
        *top: 50%;
        *left: 50%;
        *display: block;       
    }
}

    .form-control-dropdown-btn > i {
        .icon-chevron-thin-down-ie76();
        *margin-top: -10px;
        *margin-left: -10px;
    }
    .form-control-dropdown-btn > i:before {
        *content: "";
    }

    .form-control-modal-btn > i {
        .icon-browser-ie76();
        *margin-top: -8px;
        *margin-left: -8px;
    }
    .form-control-modal-btn > i:before {
        *content: "";
    }

    .form-control-date-btn > i {
        .icon-calendar-ie76();
        *margin-top: -8px;
        *margin-left: -8px;
    }
    .form-control-date-btn > i:before {
        *content: "";
    }

.form-control-verify {

    > .form-control {
        *width: 160px;
    }
}

.form-control-check {

    > label {
        *padding-left: 25px;

        &.agreement-check {
            *padding-left: 25px;
        }

        > input[type="checkbox"], input[type="radio"] {
            *margin-top: -10px;
        }
    }
}

.form-control-verify-btn {
    *top: 1px;
    *line-height: @form-control-height - 2px;
    *border: 1px solid @secondary-BtnColor * 0.8;

    &:hover,
    &:active,
    &.current {
        *border-color: @secondary-BtnColor;
    }

    &.disabled {
        *border-color: @disabled-BtnColor * 0.9;
    }
}

//±í¸ñÀà
.tables-title {

    > .table-title-btns {

        > a {
            *line-height: @smallest-FontSize + 2px;
        }
    }
}

.table {

    .table-checked-all {
        *padding-left: 25px;

        > input[type="checkbox"] {
            *top: -2px;
        }
    }
}

//Ä£Ì¬´°¿Ú
.modal-layer {
    *position: absolute;
    *top: 50%;
    *height: auto;
    *display: block;
}

.modal-position {
    *position: relative;
    *top: -50%;
    *display: block;
}

.modal-head {
    *position: relative;

    > .modal-close {
        *position: absolute;
        *right: 0;
        *top: 0;
        *font-size: 0;

        > i {
            .icon-clear-ie76();

            &:before {
                *content: "";
            }
        }
    }
}

//±êÇ©Ò³
.tabs-wrap {

    .tab-search-wrap {
        *width: 254px;

        .tab-search-control-width {
            *width: auto;
        }
    }

    &.type2 {

        .tabs {

            > li {
                *display: inline;
                *zoom: 1;
            }
        }
    }
}

//ÒµÎñÁ÷³ÌÌáÊ¾
.notice-wrap {

    &.in-modal {

        &.success {

            .notice-box {

                > .notice-img {
                    *background: url("@{images-url}success_62x62.png") no-repeat;
                }
            }
        }

        &.waiting {

            .notice-box {

                > .notice-img {
                    *background: url("@{images-url}waiting_62x62.gif") no-repeat;
                }
            }
        }

        &.info {

            .notice-box {

                > .notice-img {
                    *background: url("@{images-url}info_62x62.png") no-repeat;
                }
            }
        }

        &.error {

            .notice-box {

                > .notice-img {
                    *background: url("@{images-url}error_62x62.png") no-repeat;
                }
            }
        }
    }
}

//²½Öè
.steps-box {
    *height: 85px;
    *margin-top: 0;
}

.step {
    *top: 0;
    .icon-step_normal();
    *background-color: transparent;
}

.step-bars {
    *margin: 21px 20px 0 21px;

    > div {
        *width: 24.99%;
    }
}

.step-title {
    *top: 65px;
}

.steps-wrap {

    &.pass1 {

        .step {

            &.step1 {
                .icon-step_active();
                *background-color: transparent;
            }
        }
    }

    &.pass2 {

        .step {

            &.step1,
            &.step2 {
                *background-color: transparent;
                .icon-step_active();
            }
        }
    }

    &.pass3 {

        .step {
            .icon-step_active();
            *background-color: transparent;
        }
    }
}

//Êý¾ÝÍ³¼Æ²¿¼þ
.date-count-ul {

    > li {
        *width: 30%;

        &.last-li {
            *border-right: none;
        }
    }
}

//¾¯Ê¾
.alert {

    > em {
        .icon-clear-ie76();

        &:before {
            *content: "";
        }
    }

    &.alert-warning {

        > i {
            .icon-error-ie76();

            &:before {
                *content: "";
            }
        }
    }

    &.alert-success {

        > i {
            .icon-check_circle-ie76();

            &:before {
                *content: "";
            }
        }
    }

    &.alert-danger {
        border-color: @warning-FontColor;
        > i {
            .icon-cancel-ie76();

            &:before {
                *content: "";
            }
        }
    }
}

//Ö÷µ¼º½
.main-nav {

    > li {
        *width: 24.99%;
    }
}

//¹ýÂËÆ÷ÐÐÄÚ½á¹¹
.fliter-inline-wrap {

    .fliter-inline-width1 {
        *width: auto;
    }
}

//ÒøÐÐ¿¨ÁÐ±í
.bankcard-list {

    .bank-card-btn {
        *height: 22px;
        *line-height: 24px;
        *position: absolute;
        *right: 20px;
        *bottom: 3px;
    }

    .notwork-tag,
    .waiting-tag {
        *width: 172px;
    }
}

//ÍøÉÏÒøÐÐÑ¡Ôñ
.ebanks {

    .ebank-label {

        > .etag {
            *height: 43px;
        }

        &:hover {
            *width: 178px;
            *height: 46px;
        }
    }

    > li.active {

        .ebank-label {
            *width: 178px;
            *height: 46px;

            > i {
                .icon-ebank-active();
            }
        }
    }
}

//Ãæ°üÐ¼µ¼º½
.breadcrumb {

    > li {

        > a {

            > i {
                *margin-left: 2px;
            }
        }
    }
}

// 
.form-group{
    .form-control-wrap{
        position: relative;
        min-width: 310px;


    }
    .drop-select-province,
    .drop-select-city {
        width: 150px;
       .form-control-dropdown-value{
           float: left;
           width: 80px;
       }

        .form-control-dropdown-menu{
            width: 147px;
            overflow: hidden;
        }
    }
}
