/*
* 上传样式定制
*/
.uploadify {
    display: inline-block;
}
.uploadify-button {
    margin-left: 5px;
    line-height: 32px;
    /*color: #35bac4;*/
    color: #fff;
    background: #35bac4;
    border: 1px solid #2a959d;
    border-radius: 3px;
    text-align: center;
    width: 94px!important;
}
.uploadify:hover .uploadify-button {
    /*color: #47BEC4;*/
    background: #47BEC4;
    border-color: #168C9D;
}
.uploadify-button.disabled {
    color: #999;
}
.uploadify-queue {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: #35bac4;
    border: 1px solid #dff0d8;
    text-align: center;
    background: #fff;
    /*background: rgba(255,255,255,.8);*/
    opacity: .9;
    filter: alpha(opacity=90);
}
.uploadify-queue-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: #35bac4;
}
.uploadify-queue b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}