<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="copyright" content="本页版权归www.frontpay.cn所有·All Rights Reserved" />
        <meta name="description" content="xxx" />
        <meta name="keywords" content="xxx" />
        <meta name="Robots" content="all" />
        <title>{% block title %}{% endblock %}</title>
        
        {% block globalCss %}{% endblock %}
        {% block css %}{% endblock %}
        
        <!--[if IE 8]>
		    <link rel="stylesheet" type="text/css" href="{{ static }}/css/ie-8.css?v={{ version }}">
        <![endif]-->

        <!--[if lt IE 8]>
		    <link rel="stylesheet" type="text/css" href="{{ static }}/css/ie-76.css?v={{ version }}">
        <![endif]-->
        
        <!-- 字体图标兼容 IE 76 样式 （因为 fonticon 的兼容样式在 less 编译中出错，所以直接用 css，不编译）-->   
        <!--[if lte IE 7]>
            <link rel="stylesheet" type="text/css" href="{{ static }}/iconfont-ie7/ie7.css?v={{ version }}">
        <![endif]-->
        <!-- 字体图标 IE 7 以下JS兼容 -->
        <!--[if lte IE 7]>
		    <script type="text/javascript" src="{{ static }}/iconfont-ie7/ie7.js?v={{ version }}"></script>
        <![endif]-->

        <!-- html5 Dom 替换方案 以支持IE7 -->
        <!--[if lte IE 9]>
		    <script type="text/javascript" src="{{ bower_components }}/html5shiv/dist/html5shiv.min.js?v={{ version }}"></script>
        <![endif]-->
        <!--[if IE 9]>
		    <script type="text/javascript" src="{{ bower_components }}/respond/dest/respond.min.js?v={{ version }}"></script>
        <![endif]-->

        {% block stylePage %}{% endblock %}

    </head>

    <body {% block bodyClass %}{% endblock %}>
        
        {% block body %}{% endblock %}

        {% block globalJs %}{% endblock %}
        {% block js %}{% endblock %}
        {% block jsPage %}{% endblock %}

    </body>
</html>

